body{
    background-color: #F1F1F1;
}
.rectangle {
    width: 70px; /* adjust the width as needed */
    height: 2000px; /* adjust the height as needed */
    background-color: #ff0b0b; /* adjust the background color as needed */
    border: 1px solid #ff0b0b; /* adjust the border as needed */
    }
    .rectangle{
        position: absolute;
        top: 0px;
        right: 150px;
        left: ;
        top: ;

    }
    h1{
        font-size: 40px;
        font-family: OPTIPEKING;
        position: absolute;
        top: 2px;
        right: ;
        left: 20px;
        bottom: ;
    }
    .line{
        width: 5px;
        height: 1500px;
        background-color: #ff0b0b;
        border: 1px solid #ff0b0b;
    }
    .line{
         position: absolute;
         top: 100px;
         right: ;
         left: 300px;
         bottom: ;
    }